body {
  margin: 0;
  padding: 0;
}

.nav {
  height: 22vh;
  width: 100%;
}

.mainlist {
  list-style: none;
  margin-left: 1070px;
}

li {
  float: left;
  padding: 8px;
}

.mg {
  height: 24px;
  width: 24px;
}

.google {
  height: 130px;
  width: 310px;
  margin-left: 500px;
}

.st {
  height: 30px;
  width: 500px;
  padding: 1px;
  margin-left: 450px;
  border: 1px solid #e5e5e5;

  box-shadow: 0 3px 0 0 #e5e5e5;
}

.mic {
  position: absolute;
  margin-top: 5px;
  height: 28px;
  width: auto;
}

.g1,
.g2 {
  font-size: 20px;
  color: #222;
}

.g1 {
  margin-top: 40px;
  margin-left: 530px;
}

.g2 {
  margin-top: -23px;
  margin-left: 700px;
}

a {
  display: block;
}

.footer {
  height: 45px;
  width: 1410px;
  background-color: #f2f2f2;
  margin-top: 300px;
  color: #6f6f6f;
  padding-left: 20px;
  padding-top: 5px;
}

.secondlist {
  list-style: none;
  color: #6f6f6f;
  height: 45px;
  width: 1430px;
  background-color: #f2f2f2;
  border: 1px solid #e5e5e5;
}
ul {
  list-style-type: none;
}

.thirdlist {
  margin-left: 800px;
  bottom: 0;
}
